@import './util';
main{
    min-height:100vh;
    width:100%;

}
nav{
    height:20vh;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.096);
    display:flex;
    flex-direction:column;
    padding:0 1em;
    justify-content: space-between;
    position: sticky;
    z-index: 9999;
    @include media(500px){
     height: 13vh;
     }


}
.nElm{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:0 1em;
    // background-color: red;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 50%;
    #logo{
        font-size: 13px;
        @include media(750px){
            font-size: 12px;
         }
         @include media(650px){

         }
         @include media(500px){
            font-size: 10px;
        }
        h3{
            font-weight:500;
            display:flex;
            align-items: center;
            color:colors(r);
            letter-spacing: 1px;
            font-size: 2em;
            i{
                margin-right: 10px;
            }
            span{
                color:colors(v);
                font-weight:300;
            }
                }
    }
    #uRegister{
        button{
            @include media(500px){
                display: none;
            }
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
            border-radius: 20px;

            &:nth-child(1){
                color:colors(r);
                
                &:hover{
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.096);
                }
            }
            &:nth-child(2){
                background-color: colors(r);
                color:colors(w);
            }
            &:hover{
                background-color: colors(w);
                color:colors(r);
            }
        }
        #nUser{
            display: none;
            color: colors(r);
            @include media(500px){
                display: initial;
            }
        }
    }
    #nlinks{
        @include media(1000px){
            display:none;
        }
        font-size: 13px;
        a{
            color:colors(b);
            font-size: 1em;
            letter-spacing: 1px;
            margin-right: 15px;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
            &:hover{
                padding-bottom: 5px;
                border-bottom: 3px solid colors(r);
            }

        }

    }
    &>a{
        color:colors(b);
        display:flex;
        align-items: center;
        font-size: 13px;
        i{
            margin-right: 5px;
            letter-spacing: 2px;
        }
        &:hover{
            color:colors(r)
        }
    }
    #nMenu{
        display:none;
        @include media(1000px){
            display: initial;
        }
    }
}
#hero{
    min-height: 80vh;
    width:100%;
    // background-color: #eee;
    #hHeading{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: flex-end;
        // background-color: yellow;
        overflow: hidden;
        position: relative;
        @include media(1000px){
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


         }


        #hSrch{
            @include media(1000px){
                top:70%;
               order: 1;
               width: 100%;
               height:40vh;
               border-top-right-radius: 40%;
               border-top-left-radius: 40%;
               border-bottom-right-radius: 0%;
               border-bottom-left-radius: 0%;

            }
            @include media(500px){
               width: 100%;
               height:30vh;
               border-top-right-radius: 0%;
               border-top-left-radius: 0%;
               border-bottom-right-radius: 0%;
               border-bottom-left-radius: 0%;

            }
            height:85vh;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 58%;
            background-color: rgb(255, 255, 255);
            width: 55%;
            position: absolute;
            top:50%;
            transform:translate(0%,-50%);
            left: 0%;
            z-index: 99;
            #htxt{
                @include media(1000px){
                    left: 50%;
                    width: 80%;
                 }
                 @include media(750px){
                    font-size: 12px;
        
        
                 }
                 @include media(650px){
                    font-size: 11px;
        
        
                 }
                 @include media(500px){
                    font-size: 10px;
                }
                position:absolute;
                left:33%;
                top:40%;
                transform:translate(-50%,-50%);
                font-size: 13px;
                // background-color: red;
                width: 55%;
                h1{
                    font-size: 2.5em;
                    color:colors(v);
                    font-family: $secondaryFont;
                    line-height:1.5em;
                    margin-bottom: 15px;
                    font-weight: 600;
                }
                p{
                    font-size: 1.5em;
                    font-weight: 300;
                    line-height: 1.5em;
                }
            }
            #hForm{
                @include media(1000px){
                   top:80%;
                 }
                @include media(1300px){
                    left: 50%;
                }
                @include media(650px){
                    font-size: 11px;
                    width: 95%;
                 }
                 @include media(550px){
                    width: 80%;
                 }
                 @include media(500px){
                    top:90%;
                    }
              
                position:absolute;
                left:42%;
                top:65%;
                display: flex;
                height: fit-content;
                transform:translate(-50%,-50%);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
                border-radius: 10px;
                overflow: hidden;
                .fElm{
                    @include media(550px){
                        display: none;
                     }
                    display:flex;
                    align-items: center;
                    border: 1px solid #eee;
                    padding: 0 .5em;
                    input{
                        border:none;
                        outline: none;
                        padding: 1em 2em;
                        height: inherit;
                        width: inherit;
                        &::placeholder{
                            letter-spacing: 1px;
                        }
                    }
                    i{
                        color:colors(g)
                    }
                    
                   
                }
                button{
                    @include media(550px){
                        width: 100%;
                        font-size: 1.5em;
                     }
                    background-color: colors(r);
                    color:colors(w);
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 1em;
                    padding: 1em 2em;
                    cursor: pointer;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
                    &:hover{
                        background-color: colors(dr);

                    }
                }
            }
        }
        #hPoster{
            @include media(1000px){
                width: 100%;
                height: 40vh;
                
             }
            width: 70%;
            height: inherit;
            // background-color: blue;
            background:url('https://images.unsplash.com/photo-1610173826014-d131b02d69ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
            background-position: center;
            transform: scaleX(-1);
            background-size: cover;
        }
    }
    #hCards{
        max-width: 100vw;
        min-height: 25vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 2em;

        @include media(750px){
            font-size: 12px;


         }
         @include media(650px){
            font-size: 11px;


         }
         @include media(500px){
            flex-direction: column;
        }

        #startCard{
            @include media(500px){
                width: 100%;
                height: fit-content;
                box-shadow: none;
            align-items: center;

            }
            width: 20%;
            height: 20vh;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.164);
            justify-content: space-between;

            padding: 1.5em 1em;
            h3{
                font-weight: 600;
            }
            a{
                color:colors(r);
                display: flex;
                align-items: center;
                margin-top: 5px;
                i{
                    margin-left: 5px;
                }
            }
            // background-color: red;

        }
        #cards{
            @include media(500px){
                width: 100%;

            }
            width: 80%;
        flex-wrap: wrap;
            display:flex;
            justify-content:space-between;
            padding:0 2em;

        }
        .hcard{
            @include media(500px){
                flex-basis: 30%;
                height: 15vh;

            }
            flex-basis: 15%;
            height: 20vh;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            justify-content: center;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.164);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
            i{
                font-size: 1.5em;
                color: colors(r);
            }
            p{
                font-size: .9em;
                // background-color: red;
                margin-top: 10px;
            }
            &:hover{
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
            }
        }
    }
}